################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
/.vs
# 编译输出文件夹
x64/Debug/
x64/Release/
Debug/
Release/
# 编译临时文件
*.obj
*.exe
*.ilk
*.pdb
*.log
*.ipch
# 用户本地配置（不同人打开会变动，无需上传）
*.vcxproj.user
